*,
*::after,
*::before {
  padding: 0;
}

body {
  color: white;
  font-family: verdana;
  font-size: 1.5rem;
}

body.dark {
  background-color: #264653;
}

body.light {
  background-color: #457B9D;
}

input[type=checkbox] {
  background-color: black;
}

input[type=text] {
  padding: .3rem;
  font-size: 1.5rem;
}

li {
  text-transform: capitalize;
  padding: 1em;
}

.dark li {
  color: #fff;
}

.dark li:nth-child(2n + 1) {
  background-color: #E76F51;
}

.dark li:nth-child(2n + 2) {
  background-color: #F4A261;
}

.light li {
  color: #000;
}

.light li:nth-child(2n + 1) {
  background-color: #A9DADC;
}

.light li:nth-child(2n + 2) {
  background-color: #f1faee;
}

select {
  font-family: verdana;
  font-size: 1.5rem;
  margin: .5rem;
}

ul {
  list-style-type: none;
  text-align: left;
}

.btn {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: verdana;
  font-size: 1.5rem;
  margin: .5rem;
  padding: .3rem 1rem;
}

.container {
  margin: 0 auto;
  max-width: 60%;
  padding: 1rem; 
  text-align: center;
}

.del {
  border: 2px solid red;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  font-family: verdana;
  font-size: 1.3rem;
  margin: .5rem;
  padding: .3rem .75rem;
  transition: background-color 500ms ease-in-out, color 300ms ease-in-out;
}

.del:hover {
  background-color: red;
  border: 2px solid transparent;
  color: white;
}

.taskNum {
  color: yellow;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2.5rem;
  }

  .container {
    max-width: 95%;
    padding: .5rem; 
  }
}
